@use '../1-helpers/colors';
@use '../1-helpers/mixins' as mix;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  font-family: 'IBM Plex Sans';
  position: relative;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0.5em;
}

header {
  padding: 0 6.75%;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  margin-top: 2.5em;

  nav {
    @include mix.displayFlex(space-between, center);
  }

  .contact-phone {
    @include mix.displayFlex(flex-end, center);

    svg path {
      fill: var(--main-blue);
      transform: rotate3d(0, 0, 0, 0);
      animation: phoneIcon 2000ms infinite;
    }
  }

  img {
    height: 75%;
    width: auto;
  }

  p {
    margin-left: 1em;
    font-size: 1.25em;
  }
}

.container {
  position: relative;
  width: 100vw;
  display: grid;
  grid-template-columns: 50vw 50vw;
}

@keyframes phoneIcon {
  0% {
    transform: rotate3d(0, 0, 0, 0);
  }
  5% {
    transform: rotate3d(25px, 0, 0, 10deg);
  }
  10% {
    transform: rotate3d(-25px, 0, 0, -10deg);
  }
  15% {
    transform: rotate3d(25px, 0, 0, 10deg);
  }
  20% {
    transform: rotate3d(-25px, 0, 0, -10deg);
  }
  25% {
    transform: rotate3d(25px, 0, 0, 10deg);
  }
  30% {
    transform: rotate3d(-25px, 0, 0, -10deg);
  }
  35% {
    transform: rotate3d(25px, 0, 0, 10deg);
  }
  40% {
    transform: rotate3d(-25px, 0, 0, -10deg);
  }
  45% {
    transform: rotate3d(25px, 0, 0, 10deg);
  }
  50% {
    transform: rotate3d(-25px, 0, 0, -10deg);
  }
}
