@use '../1-helpers/colors';
@use '../1-helpers/mixins' as mix;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
  width: 100vw;
}

body {
  font-family: 'IBM Plex Sans';
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0.5em;
}

header {
  padding: 0 6.75%;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 10;
  margin-top: 3.125em;

  nav {
    @include mix.displayFlex(space-between, center);
  }

  .contact-phone {
    @include mix.displayFlex(flex-end, center);

    svg path {
      fill: var(--main-blue);
    }
  }

  img {
    width: 125px;
  }

  p {
    margin-left: 1em;
    font-size: 1.25em;
  }
}

.container {
  position: relative;
  width: 100vw;
  display: grid;
  grid-template-columns: 50vw 50vw;
}
