*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  overflow: hidden;
  width: 100vw;
}

body {
  font-family: 'IBM Plex Sans';
  width: 100vw;
  height: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.icon {
  width: 50px;
  height: 50px;
  margin: 0.5em;
}
