@use '../1-helpers/colors';

button {
  outline: none;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 1s transform;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 0.025em;

  &:hover {
    transform: scale(1.05);
  }

  img {
    position: absolute;
    bottom: 0;
    right: 15%;
    display: block;
    max-width: 95px;
    max-height: 110px;
    width: auto;
    height: auto;
  }

  #skyscraper-icon {
    max-height: 125px;
    transform: translateX(-50%);
  }
}

.container-left {
  &__btns {
    margin-top: 4em;
    .btn {
      background: var(--secondary-red);
      width: 100%;
      margin: 0.625em 0;
      padding: 1.25em 0;
    }
  }
}
