@use '../1-helpers/colors';
@use '../1-helpers/mixins' as mix;

.container-left,
.container-right {
  min-height: 100vh;
  position: relative;
  padding-bottom: 5em;
}

.container-left {
  background: var(--main-blue);
  color: white;
  overflow-y: hidden;
  padding-top: 10vh;
  z-index: 2;

  p {
    color: white;
  }

  &__wrapper {
    width: 80%;
    margin: auto;
    height: fit-content;
    padding: 0 1.5em;
  }

  .to-red {
    color: var(--secondary-red);
  }
}

.container-right {
  z-index: 3;
}

.red-line-arrow {
  @include mix.displayFlex(space-between, center);
  position: relative;

  svg {
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(5vw);
  }
}

.red-line {
  width: 100px;
  height: 2px;
  background: var(--secondary-red);
  margin: 1.5625em 0 2.8125em 0;
}
