@use '../1-helpers/colors';

input {
  border: none;
  border-bottom: 1px solid #999999;
  outline: none;
  margin-top: 1em;
  font-size: 1.15rem;
  font-weight: 300;
  color: var(--clr-text);

  &::placeholder {
    color: #999999;
    font-weight: 300;
    font-family: 'IBM Plex Sans', sans-serif;
  }

  &:focus {
    border-color: var(--main-blue);
    background: #eff4ff;
    padding: 0.5em;
  }
}

.wrong-input {
  border-bottom: 1px solid var(--secondary-red);
  padding: 0.5em;
  background: #fff0f0;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}
