@use '../1-helpers/mixins' as mix;

.background-lines {
  position: absolute;
  pointer-events: none;
  height: 100vh;
  overflow-y: hidden;
  width: 40vw;
  top: 0;
  left: 5vw;
  z-index: 9;
  @include mix.displayFlex(space-between, center);

  .lines-handler {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &:first-of-type {
      animation: topLineMove 7.5s infinite linear;
    }

    &:last-of-type {
      animation: topLineMove 7.5s infinite linear;
    }

    &:nth-of-type(2) {
      animation: topLineMove 3.75s infinite linear;
    }
  }

  .line {
    width: 2px;
    height: 25%;
    background: white;
    opacity: 0.1;
  }
}

@keyframes topLineMove {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(35px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(-35px);
  }
  100% {
    transform: translateY(0);
  }
}
