.moving-arrow{
  animation: moveArrow infinite 3s linear;
}

@keyframes moveArrow {
  0%{
    transform: translateX(40%);
  }
  50%{
    transform: translateX(60%);
  }
  100%{
    transform: translateX(40%);
  }
}