:root {
  --main-blue: #1c2e58;
  --secondary-red: #eb2123;
  --clr-white: #ffffff;

  --blue-gradient: linear-gradient(
    180deg,
    rgba(53, 96, 149, 1) 0%,
    rgba(41, 73, 114, 1) 100%
  );
  --blue-light-gradient: linear-gradient(
    90deg,
    rgba(109, 129, 215, 1) 0%,
    rgba(8, 174, 234, 1) 100%
  );
  --blue-light-gradient-angle: linear-gradient(
    180deg,
    rgba(109, 129, 215, 1) 25%,
    rgba(8, 174, 234, 1) 100%
  );
}
