@mixin displayFlex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin rightSide {
  display: grid;
  place-items: center;
  padding: 10vh 6.5vw 12vh 5vw;
}
